<div class="imprint-wrapper">
  <img (click)="goBack()" src="assets/icons/login/arrow_back_black.png" alt="arrow">
  <h2>Impressum</h2>
  <h3>Verantwortliche(r)</h3>
  <p class='generator_user_input'>Davide Religioso</p>
  <br>
  <h4>Gesetzliche Berufsbezeichnung</h4>
  <p class='generator_user_input'>Frontend-Entwickler</p>
  <br>
  <h4>Postanschrift</h4>
  <p class='generator_user_input'>
    Paprikastraße 58<br>
    70619 Stuttgart
  </p>
  <br>
  <h4>Kontakt</h4>
  <p>E-Mail: mail&#64;davide-religioso.com</p>
  <p>Telefon: 0160 2043995</p>
  <br>
  <h3>Hinweise zur Website</h3>
  <h4>Urheberrechtliche Hinweise</h4>
  <p class='generator_user_input'>Davide Religioso</p>
  <br>
  <br>
  <p><em>Dieses Impressum wurde mit Hilfe des <a href="https://www.activemind.de/generatoren/impressum/" target="_blank"
        rel="noopener">Impressums-Generators der activeMind AG</a> erstellt (Version 2024-07-05).</em>
  </p>
</div>